@CHARSET "UTF-8";
/* weChat */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.6;
    font-family: "FZLTHJW--GB1-0", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.16rem;
}

* {
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    outline: none;
}

.weChat_mask {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.weChat_load_mask {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.weChat_alert {
    position: fixed;
    z-index: 99;
    min-width: 60%;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 6px;
}

.weChat_alert_hd {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 15px 15px 0px;
    color: #333333;
    font-size: 0.17rem;
    font-weight: 500;
}

.weChat_alert_bd {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    min-height: 40px;
    padding: 0px 15px 15px;
    margin-top: 0;
    color: #333333;
    margin-top: 10px;
    font-size: 0.15rem;
    word-wrap: break-word;
    word-break: break-all;
}

.weChat_alert_ft {
    position: relative;
    line-height: 42px;
    margin-top: 10px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.weChat_alert_ft > a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #03a39b;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.weChat_alert_ft > a:active {
    background-color: #EEEEEE;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.weChat_alert_ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.loading_flash {
    position: fixed;
    left: calc(50% - 40px);
    top: 30%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 12;
}

.loader {
    font-size: 26px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loadRotate 1.9s infinite ease;
    animation: loadRotate 1.9s infinite ease;
}

@-webkit-keyframes loadRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
    }
}

@keyframes loadRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
    }
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f5f4;
    font-size: 14px;
    display: none;
}

.weChat_toast {
    position: fixed;
    z-index: 2;
    width: 1rem;
    min-height: 1rem;
    top: 35%;
    left: 50%;
    margin-left: -0.5rem;
    text-align: center;
    border-radius: 5px;
    color: #999999;
}

.weChat_icon_toast {
    margin: 22px 0 0;
    display: block;
}

.weChat_icon_toast:before {
    content: '\EA08';
    color: #FFFFFF;
    font-size: 55px;
}

.weChat_toast_content {
    margin: 68% 0 0 15px;
}

.weChat_loading {
    position: absolute;
    width: 0px;
    z-index: 2000000000;
    left: 50%;
    top: 38%;
}

.weChat_loading_leaf {
    position: absolute;
    top: -1px;
    opacity: 0.25;
}

.weChat_loading_leaf:before {
    content: " ";
    position: absolute;
    width: 5.14px;
    height: 2.08px;
    background: #a0a0a0;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
    border-radius: 1px;
    -webkit-transform-origin: left 50% 0px;
    transform-origin: left 50% 0px;
}

.weChat_loading_leaf_0 {
    -webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
    animation: opacity-60-25-0-12 1.25s linear infinite;
}

.weChat_loading_leaf_0:before {
    -webkit-transform: rotate(0deg) translate(5px, 0px);
    transform: rotate(0deg) translate(5px, 0px);
}

.weChat_loading_leaf_1 {
    -webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
    animation: opacity-60-25-1-12 1.25s linear infinite;
}

.weChat_loading_leaf_1:before {
    -webkit-transform: rotate(30deg) translate(5px, 0px);
    transform: rotate(30deg) translate(5px, 0px);
}

.weChat_loading_leaf_2 {
    -webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
    animation: opacity-60-25-2-12 1.25s linear infinite;
}

.weChat_loading_leaf_2:before {
    -webkit-transform: rotate(60deg) translate(5px, 0px);
    transform: rotate(60deg) translate(5px, 0px);
}

.weChat_loading_leaf_3 {
    -webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
    animation: opacity-60-25-3-12 1.25s linear infinite;
}

.weChat_loading_leaf_3:before {
    -webkit-transform: rotate(90deg) translate(5px, 0px);
    transform: rotate(90deg) translate(5px, 0px);
}

.weChat_loading_leaf_4 {
    -webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
    animation: opacity-60-25-4-12 1.25s linear infinite;
}

.weChat_loading_leaf_4:before {
    -webkit-transform: rotate(120deg) translate(5px, 0px);
    transform: rotate(120deg) translate(5px, 0px);
}

.weChat_loading_leaf_5 {
    -webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
    animation: opacity-60-25-5-12 1.25s linear infinite;
}

.weChat_loading_leaf_5:before {
    -webkit-transform: rotate(150deg) translate(5px, 0px);
    transform: rotate(150deg) translate(5px, 0px);
}

.weChat_loading_leaf_6 {
    -webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
    animation: opacity-60-25-6-12 1.25s linear infinite;
}

.weChat_loading_leaf_6:before {
    -webkit-transform: rotate(180deg) translate(5px, 0px);
    transform: rotate(180deg) translate(5px, 0px);
}

.weChat_loading_leaf_7 {
    -webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
    animation: opacity-60-25-7-12 1.25s linear infinite;
}

.weChat_loading_leaf_7:before {
    -webkit-transform: rotate(210deg) translate(5px, 0px);
    transform: rotate(210deg) translate(5px, 0px);
}

.weChat_loading_leaf_8 {
    -webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
    animation: opacity-60-25-8-12 1.25s linear infinite;
}

.weChat_loading_leaf_8:before {
    -webkit-transform: rotate(240deg) translate(5px, 0px);
    transform: rotate(240deg) translate(5px, 0px);
}

.weChat_loading_leaf_9 {
    -webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
    animation: opacity-60-25-9-12 1.25s linear infinite;
}

.weChat_loading_leaf_9:before {
    -webkit-transform: rotate(270deg) translate(5px, 0px);
    transform: rotate(270deg) translate(5px, 0px);
}

.weChat_loading_leaf_10 {
    -webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
    animation: opacity-60-25-10-12 1.25s linear infinite;
}

.weChat_loading_leaf_10:before {
    -webkit-transform: rotate(300deg) translate(5px, 0px);
    transform: rotate(300deg) translate(5px, 0px);
}

.weChat_loading_leaf_11 {
    -webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
    animation: opacity-60-25-11-12 1.25s linear infinite;
}

.weChat_loading_leaf_11:before {
    -webkit-transform: rotate(330deg) translate(5px, 0px);
    transform: rotate(330deg) translate(5px, 0px);
}

@-webkit-keyframes opacity-60-25-0-12 {
    0% {
        opacity: 0.25;
    }
    0.01% {
        opacity: 0.25;
    }
    0.02% {
        opacity: 1;
    }
    60.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

@-webkit-keyframes opacity-60-25-1-12 {
    0% {
        opacity: 0.25;
    }
    8.34333% {
        opacity: 0.25;
    }
    8.35333% {
        opacity: 1;
    }
    68.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

@-webkit-keyframes opacity-60-25-2-12 {
    0% {
        opacity: 0.25;
    }
    16.6767% {
        opacity: 0.25;
    }
    16.6867% {
        opacity: 1;
    }
    76.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

@-webkit-keyframes opacity-60-25-3-12 {
    0% {
        opacity: 0.25;
    }
    25.01% {
        opacity: 0.25;
    }
    25.02% {
        opacity: 1;
    }
    85.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

@-webkit-keyframes opacity-60-25-4-12 {
    0% {
        opacity: 0.25;
    }
    33.3433% {
        opacity: 0.25;
    }
    33.3533% {
        opacity: 1;
    }
    93.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}

@-webkit-keyframes opacity-60-25-5-12 {
    0% {
        opacity: 0.270958333333333;
    }
    41.6767% {
        opacity: 0.25;
    }
    41.6867% {
        opacity: 1;
    }
    1.67667% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.270958333333333;
    }
}

@-webkit-keyframes opacity-60-25-6-12 {
    0% {
        opacity: 0.375125;
    }
    50.01% {
        opacity: 0.25;
    }
    50.02% {
        opacity: 1;
    }
    10.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.375125;
    }
}

@-webkit-keyframes opacity-60-25-7-12 {
    0% {
        opacity: 0.479291666666667;
    }
    58.3433% {
        opacity: 0.25;
    }
    58.3533% {
        opacity: 1;
    }
    18.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.479291666666667;
    }
}

@-webkit-keyframes opacity-60-25-8-12 {
    0% {
        opacity: 0.583458333333333;
    }
    66.6767% {
        opacity: 0.25;
    }
    66.6867% {
        opacity: 1;
    }
    26.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.583458333333333;
    }
}

@-webkit-keyframes opacity-60-25-9-12 {
    0% {
        opacity: 0.687625;
    }
    75.01% {
        opacity: 0.25;
    }
    75.02% {
        opacity: 1;
    }
    35.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.687625;
    }
}

@-webkit-keyframes opacity-60-25-10-12 {
    0% {
        opacity: 0.791791666666667;
    }
    83.3433% {
        opacity: 0.25;
    }
    83.3533% {
        opacity: 1;
    }
    43.3433% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.791791666666667;
    }
}

@-webkit-keyframes opacity-60-25-11-12 {
    0% {
        opacity: 0.895958333333333;
    }
    91.6767% {
        opacity: 0.25;
    }
    91.6867% {
        opacity: 1;
    }
    51.6767% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.895958333333333;
    }
}

.weChat_confirm {
    position: fixed;
    z-index: 13;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
}

.confirm_hd {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px 0;
    color: #3b3b3b;
}

.confirm_bd {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 14px;
    color: #999999;
}

.confirm_ft {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    display: flex;
    border-top: solid 0.5px #D2D2D2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.confirm_ft .confirm_btn {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm_ft .confirm_btn:first-child:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0.5px;
    border-right: solid 0.5px #d2d2d2;
}

.confirm_ft .confirm_btn:active {
    background-color: #D2D2D2;
}

#colse_comfirm:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 7px;
    width: 13px;
    height: 13px;
    border-top: 1px solid #999999;
    transform: rotate(-45deg);
}
#colse_comfirm:after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 13px;
    height: 13px;
    border-top: 1px solid #999999;
    transform: rotate(45deg);
}
