@CHARSET "UTF-8";
/* plyy */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: '方正兰亭黑简体', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.16rem;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
}

img {
    pointer-events: none; /* cancel pointer events*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

input, button, select, textarea {
    outline: none;
}

.tips, .tips2 {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.12rem;
    display: flex;
    align-items: flex-start;
}

.tips {
    padding: 0.05rem 0.15rem;
    background-color: #f1ce7d;
    color: #ffffff;
}

.tips2 {
    padding: 0rem 0.2rem 0.15rem;
    color: #e1b54c;
}

.tips_logo {
    width: 0.13rem;
    height: 0.13rem;
    margin: 0.02rem 0.1rem 0 0;
}

.main {
    width: 100%;
    box-sizing: border-box;
    padding: 0.1rem 0.15rem;
}

.main > div {
    width: 100%;
    height: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 0;
}

.main > div:nth-child(1), .main > div:nth-child(2) {
    border-bottom: solid 1px #f3f5f4;
}

.main > div:nth-child(4), .main > div:nth-child(8), .main > div:nth-child(10) {
    background-color: #eef7f7;
}

.main > div:nth-child(6) {
    background-color: #f3f5f4;
}

.info_L {
    display: flex;
    align-items: center;
    color: #054340;
}

.logos {
    width: 0.16rem;
    height: 0.16rem;
    margin: 0 0.1rem 0 0;
}

#choose_date {
    width: 0.18rem;
    height: 0.18rem;
    margin-right: 0.15rem;
}

#date {
    color: #a0a0a0;
}

#hh_num {
    position: relative;
    color: #01a29a;
    padding-right: 0.1rem;
}

#hh_num:after {
    content: '户';
}

#hh_num:before {
    position: absolute;
    right: 0;
    top: 33%;
    content: '';
    height: 0.07rem;
    width: 0.07rem;
    transform: rotate(45deg);
    border-top: solid 1px #01a29a;
    border-right: solid 1px #01a29a;
}

#business_hall, #get_person {
    width: 3.18rem;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #5caca8;
    font-size: 0.16rem;
    box-sizing: border-box;
    background: url("~@/assets/image/invoice/zzs/arrow01_ico.png") no-repeat 95% center;
    background-size: 14px 10px;
}

#address {
    color: #b1b1b1;
}

#get_date {
    border: none;
    font-size: 0.16rem;
}

#get_date:disabled {
    background-color: transparent;
    color: #5caca8;
}

.btns {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    width: 3.2rem;
    height: 0.42rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: linear-gradient(180deg, #52d6cf 10%, #01a29a 100%);
    border-radius: 4px;
    font-size: 0.16rem;
    box-shadow: 1px 1px 4px 1px #cccccc;
    color: #ffffff;
    /* filter: grayscale(100%); */
}

.submit_enable {
    filter: grayscale(0)
}

.submit_disable {
    filter: grayscale(100%)
}

::-webkit-scrollbar {
    display: none;
}

.iic_mask {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.iic_alert {
    position: fixed;
    z-index: 13;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 6px;
}

.iic_alert_hd {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.9rem;
    background: url("~@/assets/image/invoice/zzs/tanchu_bg.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.iic_alert_bd {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0.2rem 0.15rem;
    font-size: 0.14rem;
}

.iic_alert_bd > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3px 0;
    color: #c1c1c1;
}

.iic_alert_bd > div > span:last-child {
    color: #73b0ad;
}

.iic_alert_ft {
    position: relative;
    width: 100%;
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.iic_alert_ft:before {
    position: absolute;
    content: '';
    left: 5%;
    top: 0;
    width: 90%;
    height: 2px;
    border-top: solid 1px #dcdcdc;
}

.iic_alert_btn {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iic_alert_ft > #no {
    color: #6a6a6a;
}

.iic_alert_ft > #yes {
    color: #01a29a;
}

.iic_alert_ft > #no:after {
    position: absolute;
    content: '';
    right: 0;
    top: 15%;
    width: 2px;
    height: 70%;
    border-right: solid 1px #dcdcdc;
}