@CHARSET "UTF-8";
/* wdhh_02 */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: '方正兰亭黑简体', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
}

img {
    pointer-events: none; /* cancel pointer events*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

input, button, select, textarea {
    outline: none;
}

.top {
    position: relative;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    background: url("~@/assets/image/invoice/zzs/bg_wdhh.png");
    background-size: 100% 100%;
}

.top > div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#group_logo {
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 7%;
}

#comp_name {
    margin-top: 0.1rem;
    color: #e1b54c;
}

#hh_count {
    font-size: 0.15rem;
    color: #a0a0a0;
}


.main {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.list_div {
    position: relative;
    width: 100%;
    height: 120%;
    background: #ffffff;
    margin-top: -10%;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 1px #caecea;
    box-sizing: border-box;
    padding: 0.2rem;
}

.list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
}

.info {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0.15rem 0.1rem;
    display: flex;
    align-items: center;
    background: url("~@/assets/image/invoice/zzs/arrow_ico.png") no-repeat 94% center;
    background-size: 0.12rem 0.13rem;
}

.more {
    position: relative;
    width: 100%;
    height: 0.42rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f8f7;
    color: #64aba7;
    margin: 0.15rem 0px 0px;
    font-size: 0.15rem;
}

.info:after {
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 94%;
    height: 2px;
    content: '';
    border-bottom: solid 1px #eeeeee;
}

.user_number {
    width: 1.2rem;
    font-size: 0.16rem;
}

.user_addr {
    width: 1.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: #cccccc;
    font-size: 0.15rem;
    text-overflow: ellipsis;
}

.user_addr:disabled {
    color: #000000;
}

.btns {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    width: 3.2rem;
    height: 0.42rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: linear-gradient(180deg, #52d6cf 10%, #01a29a 100%);
    border-radius: 4px;
    font-size: 0.16rem;
    box-shadow: 1px 1px 4px 1px #cccccc;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}